<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.mybatis.mapper.QhbInfMapper" >
  <resultMap id="BaseResultMap" type="main.java.mybatis.model.QhbInf" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_ip" property="userIp" jdbcType="VARCHAR" />
    <result column="qhb_time" property="qhbTime" jdbcType="TIMESTAMP" />
    <result column="money" property="money" jdbcType="DOUBLE" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qhb_inf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="main.java.mybatis.model.QhbInf" >
    insert into qhb_inf (id, user_id, user_ip, 
      qhb_time, money)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userIp,jdbcType=VARCHAR}, 
      #{qhbTime,jdbcType=TIMESTAMP}, #{money,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="main.java.mybatis.model.QhbInf" >
    update qhb_inf
    set user_id = #{userId,jdbcType=INTEGER},
      user_ip = #{userIp,jdbcType=VARCHAR},
      qhb_time = #{qhbTime,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, user_ip, qhb_time, money
    from qhb_inf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, user_ip, qhb_time, money
    from qhb_inf
  </select>
</mapper>